@font-face {
  font-family: "CenturySkool";
  src: url("../font/CenturySchoolbookBT-Roman.otf");
}
@font-face {
  font-family: "CenturySkool";
  src: url("../font/CenturySchoolbookBT-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "CenturySkool";
  src: url("../font/CenturySchoolbookBT-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "CenturySkool";
  src: url("../font/CenturySchoolbookBT-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Unpronounceable";
  src: url("../font/TheUnpronounceableAcademy-WhatsRegularAnyway.ttf");
}

@font-face {
  font-family: "Stanley";
  src: url("../font/Stanley-Regular.otf");
}


html, body {
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

body {
  font-variant-ligatures: common-ligatures;
  color: #000;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.13);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'CenturySkool';
  font-size: 18px;
  font-style: bold;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    line-height: 1.4em;
}

p {
    color: black;
    font-family: 'CenturySkool';
    margin: 0 !important;
    hyphens: auto;
/*    line-height: 1.4;*/
    text-align: left;
    text-indent: 3vw;
}

p#no-indent {
    margin: 0 !important;
    color: black;
    font-family: 'CenturySkool';
    hyphens: auto;
    text-align: left;
    text-indent: 0;
}


em {
  font-family: 'CenturySkool';
  font-style: italic;
/*  line-height: 1.4;*/
}
.unpronounceableSymbol {
  font-family: 'Unpronounceable';
}

#handout{
  font-style: italic;
  width: 70%;
  margin-left: 5%;
  margin-top: 1.4em;
}

.handoutParagraph {
  text-indent: 0;
  margin-bottom: 0.7em!important;
}

.background {
  width:100%;
  margin-bottom: 100%;
  width: 50%;
  height: 100%;
  background-position: center;
  position: fixed;
  /*background-color: red;*/
  left: 50%;
  z-index: 0;
  background-repeat: no-repeat;

}

.main-image {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

#gradient_header {
/*  opacity: 0.9;*/
  z-index: 9;
  top: 0;
  position: fixed;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  background: linear-gradient(to bottom, white 20%, rgba(250, 250, 250, 0) 100%);
  pointer-events: none;

}

.header {
  z-index: 9;
  top: 0;
/*  position: relative;*/
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'CenturySkool';
  font-style: italic;
}
.header a {
  text-decoration: none;
  size: 2.3vw;
  color: black;
}
.header .headerLink {
    float: left;
    position: absolute;
    text-align: center;
  }
.header .headerLink:nth-child(1) {
left: 5%; }
.header .headerLink:nth-child(2) {
left: 20%; }
.header .headerLink:nth-child(3) {
left: 40%; }
.header .headerLink:nth-child(4) {
right: 40%; }
.header .headerLink:nth-child(5) {
right: 22%; }
.header .headerLink:nth-child(6) {
right: 5%;
}

.headerLink a img {
/*  width: 30%;
  height: 30%;*/
}

#story_text {
  width: 47%;
  margin: 45px 20px auto;
  margin-bottom: 40px;
  font-family: 'CenturySkool';
  padding: 12px;
  overflow-x: hidden;
  letter-spacing: 0.1px;

}

#right_characters {
  margin-bottom: 100%;
  font-size: 18px;
  font-family: 'CenturySkool';
  border-left: 20px;
  line-height: 1.4em;
  width: 50%;
  height: 100%;
  font-style: italic;
  background-position: center center;
  background-size: cover;
  position: fixed;
  background-image: url("../img/nelly.JPG");
  /*background-color: red;*/
  top: 0px;
  left: 50%;
  z-index: 1;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;

}



.fact_text {
/*  position: fixed;*/
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(to top, white 40%, rgba(250, 250, 250, 0) 100%);
/*  background-color: white;*/
  width: 100%;
  height: 100%;
  padding: 12px;
  overflow-x: hidden;
/*  font-style: italic;*/
/*  font-family: 'CenturySkool';*/

}

div.symbol {
  text-align: center;
  font-family: "Times";
  font-size: 22px;
  font-style: none;

}

.object_text{


}

/* content = hover, animating width text */
.fact_text {
  max-height: 3vw;
  height: 3vw;
  /* height: 18px; */
  transition: max-height 1s ease;
  overflow: hidden;

}

.fact_text:hover{
  max-height: 100vh;
  height: auto;
  cursor: pointer;
/*  background-color: blue;
*/
}

.logo {
  display: flex;
  align-items: center;
  cursor:pointer;
}

.logo svg {
  width:100vw;
  height:100vh;
  margin: 0 auto;
  display: block;
}

.headerLink a img:hover {
}

.printLogo {
  display: none;
}

.thanks {
  font-style: italic;
}

.titel {

}






/*print print print print print print print print print print print print */

.printImage{
  display:none;
}

@media print {
    #Header, #Footer { display: none !important; }
}

@media print {

  @page {
    size: A4;
    /*margin-top: 1.5cm;*/

  }


/*      @page :left {
      margin: 1.5cm;
      }

      @page :right {
      margin: 1.8cm;
      }*/


  body {
   margin: 0;
   width: 100% height:100%;
   font-family: 'Century Schoolbook';
   font-size: 17pt;
   line-height: 1.2em;
   background-color: white;
   background-image;
   !important;
   -webkit-print-color-adjust: exact;
  }

  #right_characters{
    display:none;
  }

  .header {
    display: none;
  }

  .printImage {
    display: block;
    width: 100%;
    /*max-height: 100%;*/
    page-break-after:always !important;
    page-break-before:always;
  }

  .printLogo {
    display: block;
    width: 100%;
    max-height: auto;
    padding-top: 1.5cm;
    page-break-after:always !important;
    page-break-before:always;
    float:right;margin-left:20px
  }

  #story_text{
    width: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    float: none !important;
    font-size: 17px;
    background: none;
    line-height: 1.2em;
  }
  .textWithImage{
    page-break-after:always !important;
    page-break-before:always;
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    padding-top: 1.5cm;
    margin-bottom: 1.5cm;
  }

   img.printImage{
   width: 100%;
   height: auto;
   padding-top: 1.2cm;

  }

  .fact_text {
   color: black;
   width: 100%;
   color: black;
   display: none;
   font-size: 20px;
  }

  .thanks {
    page-break-before: always;
    padding-top: 1.5cm;
    font-style: none;
  }

  #thanks {
    page-break-before: always;
    padding-top: 1.5cm;
    font-style: none;

  }

  em {
   font-style: italic;
   font-size: 17px;
   line-height: 1.2em;
}

  .header {
    display: none;
  }

  .header a {
   display: none;
}

  #gradient_header { display: none; }

.pagebreak{
  page-break-before: always;
  padding-top: 1.5cm;

}

/*p {
  page-break-after: always;
}*/

/*end*/
}
